node-red-duration.txt
[{"id":"8a5d3442.1af488","type":"rpi-gpio in","z":"bb312cf8.11fe4","name":"","pin":"7","intype":"tri","debounce":"25","read":true,"x":90,"y":60,"wires":[["a3e59e8.cbc2a6"]]},{"id":"a3e59e8.cbc2a6","type":"switch","z":"bb312cf8.11fe4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":80,"wires":[["21e59429.1f31dc"],["47059039.3c619"]]},{"id":"21e59429.1f31dc","type":"function","z":"bb312cf8.11fe4","name":"MesureTime","func":"var date = new Date();\nmsg.payload = {\n    \"time\":date.getTime(),\n    \"year\":date.getFullYear(),\n    \"month\":date.getMonth(),\n    \"date\":date.getDate(),\n    \"hour\":date.getHours(),\n    \"day\":date.getDay()\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":60,"wires":[["dfd79bb5.441778"]]},{"id":"6c751bf3.d85224","type":"function","z":"bb312cf8.11fe4","name":"Mesure time again","func":"var date = new Date();\nmsg.payload.newdate = {\n    \"time\":date.getTime(),\n    \"year\":date.getFullYear(),\n    \"month\":date.getMonth(),\n    \"date\":date.getDate(),\n    \"hour\":date.getHours(),\n    \"day\":date.getDay()\n};\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":100,"wires":[["60b8069b.2d6c88"]]},{"id":"dfd79bb5.441778","type":"file","z":"bb312cf8.11fe4","name":"Write time into file","filename":"/home/pi/Camera/file.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","x":670,"y":60,"wires":[["131c4402.69595c"]]},{"id":"47059039.3c619","type":"file in","z":"bb312cf8.11fe4","name":"Read last time wrote","filename":"/home/pi/Camera/file.txt","format":"utf8","chunk":false,"sendError":false,"x":480,"y":100,"wires":[["9f88b61a.a5dfd8"]]},{"id":"1bc33e6a.c119e2","type":"json","z":"bb312cf8.11fe4","name":"","property":"payload","action":"","pretty":true,"x":830,"y":100,"wires":[["6c751bf3.d85224"]]},{"id":"5dff6650.a10748","type":"inject","z":"bb312cf8.11fe4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":160,"wires":[["138eac28.70c5d4"]]},{"id":"298a9b1a.d8d534","type":"inject","z":"bb312cf8.11fe4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":200,"wires":[["ab0c2433.ec86f8"]]},{"id":"138eac28.70c5d4","type":"function","z":"bb312cf8.11fe4","name":"Inject 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":160,"wires":[["a3e59e8.cbc2a6"]]},{"id":"ab0c2433.ec86f8","type":"function","z":"bb312cf8.11fe4","name":"Inject 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":200,"wires":[["a3e59e8.cbc2a6"]]},{"id":"131c4402.69595c","type":"debug","z":"bb312cf8.11fe4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":60,"wires":[]},{"id":"60b8069b.2d6c88","type":"function","z":"bb312cf8.11fe4","name":"Find duration","func":"var sendMsg;\nvar timeDiff = parseInt((msg.payload.newdate.time - msg.payload.time)/1000);\nsendMsg = \"{\\\"presence\\\":{\\\"tp\\\":\" + msg.payload.time;\nsendMsg += \",\\\"duree\\\":\" + timeDiff;\nsendMsg += \"}}\";\nmsg.payload = sendMsg;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":160,"wires":[["180dffa4.89df3"]]},{"id":"aa3e6ff2.5437d","type":"debug","z":"bb312cf8.11fe4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":220,"wires":[]},{"id":"f2812c91.38f26","type":"comment","z":"bb312cf8.11fe4","name":"Work duration measurment","info":"","x":280,"y":20,"wires":[]},{"id":"9f88b61a.a5dfd8","type":"file","z":"bb312cf8.11fe4","name":"delete file","filename":"/home/pi/Camera/file.txt","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":680,"y":100,"wires":[["1bc33e6a.c119e2"]]},{"id":"180dffa4.89df3","type":"json","z":"bb312cf8.11fe4","name":"","property":"payload","action":"","pretty":true,"x":650,"y":160,"wires":[["aa3e6ff2.5437d","f947a0bf.41465"]]},{"id":"40cdb33b.a8961c","type":"comment","z":"bb312cf8.11fe4","name":"test nodes","info":"","x":100,"y":120,"wires":[]},{"id":"f947a0bf.41465","type":"mongodb out","z":"bb312cf8.11fe4","mongodb":"e1f3bf0b.5bdbb","name":"Insert","collection":"defi2018","payonly":false,"upsert":false,"multi":false,"operation":"insert","x":810,"y":160,"wires":[]},{"id":"e906be4.d2a664","type":"rpi-gpio in","z":"bb312cf8.11fe4","name":"","pin":"11","intype":"tri","debounce":"25","read":false,"x":90,"y":280,"wires":[["7719bb84.e1bb64"]]},{"id":"f3e754f7.57a598","type":"function","z":"bb312cf8.11fe4","name":"Message to be send","func":"var date = new Date();\n\nmsg.payload = \"La porte est ouverte a la date : \" + date.toUTCString();\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":280,"wires":[["52f15085.7523","94de576.6ba7ea8"]]},{"id":"7719bb84.e1bb64","type":"switch","z":"bb312cf8.11fe4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":280,"wires":[["f3e754f7.57a598"],["1a45044d.0c029c"]]},{"id":"52f15085.7523","type":"e-mail","z":"bb312cf8.11fe4","server":"smtp.gmail.com","port":"465","secure":true,"name":"sahlegrand@gmail.com","dname":"email notification","x":750,"y":280,"wires":[]},{"id":"94de576.6ba7ea8","type":"debug","z":"bb312cf8.11fe4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":340,"wires":[]},{"id":"1a45044d.0c029c","type":"debug","z":"bb312cf8.11fe4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":340,"wires":[]},{"id":"e1f3bf0b.5bdbb","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"defi","name":""}]